.container-fluid {
background-color: azure;
display:flex;
}
.container-fluid-btn btn-primary {
display:flex;
justify-content:space-between;
}

.navbar {
    background-image: url('./pokes.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
