
<div class="container-fluid row">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Telefono</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

