<div class="container-fluid">
  <div class="card-columns">
    <div class="row">
      <div class="card-col img-fluid" style="width: 18rem" >
        <img src="./css/Blastoise.png" class="card-img-top" alt="Blastoise">
      </div>
      <div class="card-col img-fluid" style="width: 18rem" >
        <img src="./css/Charizard.png" class="card-img-top" alt="Charizard">
      </div>
      <div class="card-col img-fluid" style="width: 18rem;">
        <img src="./css/Venusaur.png" class="card-img-top" alt="Venusaur">
      </div>
      <div class="card-col img-fluid" style="width: 18rem;">
        <img src="./css/Aerodactyl.png" class="card-img-top" alt="Aerodactyl">
      </div>
      <div class="card-col img-fluid" style="width: 18rem;">
        <img src="./css/Gengar.png" class="card-img-top" alt="Gengar"> 
      </div>
    </div>
  </div>   
</div>
<hr>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="https://areajugones.sport.es/wp-content/uploads/2019/11/Pokemon-Espada-y-Escudo-Charmander.jpg" class="d-block ">
    </div>
    <div class="carousel-item ">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP01EH7AQfOx_8jHw1Ew4P-ytjBJqzNy027Q&usqp=CAU" class="d-block " >
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSAOQPGSDYQwVsQRzCwk7CokssWdoXOb3mig&usqp=CAU" class="d-block " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
